<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Example/styles")
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="wrapper">
        @Html.Partial("_LeftNavigation")
        <div id="page-wrapper" class="gray-bg">
            @Html.Partial("_TopNavigation")
            @RenderBody()
            @Html.Partial("_Footer")
        </div>
    </div>

    @Scripts.Render("~/Example/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
