@using Example.Web.Infrastructure.Extensions
@using Example.Web.Models
@model Example.Services.Models.ExampleTopic

@{
    ViewBag.Title = Model.Title;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@ViewBag.Title</h2>
        @if (Model.Section != null)
        {
            @Html.Partial("_BreadCrumbs", new[]
            {
                new BreadCrumbItem("SFU Example", "Forum", "Index"),
                new BreadCrumbItem(Model.Section.Title, Url.Action("Index", "Forum", new { id = Model.Section.Id }))
            })
        }
        else
        {
            @Html.Partial("_BreadCrumbs", new[] { new BreadCrumbItem("SFU Example", "Forum", "Index") })
        }
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                @if (User.CanManageTopic(Model.Author))
                                {
                                    <a href="@Url.Action("Edit", "Topic", new {id = Model.Id})" class="btn btn-white btn-xs pull-right">Edit</a>
                                }
                                <h2>@Html.DisplayFor(model => model.Title)</h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>Status:</dt>
                                <dd>
                                    @Html.Partial("_TopicStatusPartial", Model.Status)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">
                                <dt>Created by:</dt>
                                <dd>@Html.DisplayFor(model => model.Author.UserName)</dd>
                                <dt>Messages:</dt>
                                @if (Model.Messages != null)
                                {
                                    <dd>@Model.Messages.Count</dd>
                                }
                                else
                                {
                                    <dd>0</dd>
                                }
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">
                                <dt>Last Updated:</dt>
                                <dd>@Html.DisplayFor(model => model.ModifiedDate)</dd>
                                <dt>Created:</dt>
                                <dd>@Html.DisplayFor(model => model.CreatedDate)</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            @if (Model.Messages != null)
                            {
                                <div>
                                    <div class="chat-activity-list">

                                        @foreach (var message in Model.Messages)
                                        {
                                            @Html.Partial("_MessagePartial", message)
                                        }
                                    </div>
                                </div>
                            }
                            @if (User.CanCreateMessage())
                            {
                                <div class="chat-form">
                                    @using (Html.BeginForm("Create", "Message", FormMethod.Post, new {role = "form"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="TopicId" id="TopicId" value="@Model.Id"/>
                                        <div class="form-group">
                                            <textarea class="form-control" name="Text" id="Text" placeholder="Message"></textarea>
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-sm btn-primary m-t-n-xs"><strong>Send message</strong></button>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="wrapper wrapper-content project-manager">
            @if (Model.PictureId.HasValue)
            {
                <img src="@Url.Action("GetFile", "BinaryData", new { id = Model.PictureId.Value })" style="max-height: 200px;" />
            }
            <p class="small">
                @Html.Raw(Model.Text)
            </p>
            @*<p class="small font-bold">
        <span><i class="fa fa-circle text-warning"></i> High priority</span>
    </p>
    <h5>Project tag</h5>
    <ul class="tag-list" style="padding: 0">
        <li><a href=""><i class="fa fa-tag"></i> Zender</a></li>
        <li><a href=""><i class="fa fa-tag"></i> Lorem ipsum</a></li>
        <li><a href=""><i class="fa fa-tag"></i> Passages</a></li>
        <li><a href=""><i class="fa fa-tag"></i> Variations</a></li>
    </ul>
    <h5>Project files</h5>
    <ul class="list-unstyled project-files">
        <li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>
        <li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>
        <li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>
        <li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>
    </ul>
    <div class="text-center m-t-md">
        <a href="#" class="btn btn-xs btn-primary">Add files</a>
    </div>*@
        </div>
    </div>
</div>