@using Example.Web.Models
@model Example.Services.Models.ExampleTopic

@{
    ViewBag.Title = Model.Title;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@ViewBag.Title</h2>
        @if (Model.Section != null)
        {
            @Html.Partial("_BreadCrumbs", new[]
            {
                new BreadCrumbItem("SFU Example", "Forum", "Index"),
                new BreadCrumbItem(Model.Section.Title, Url.Action("Index", "Forum", new { id = Model.Section.Id }))
            })
        }
        else
        {
            @Html.Partial("_BreadCrumbs", new[] { new BreadCrumbItem("SFU Example", "Forum", "Index") })
        }
    </div>
</div>

<hr />

@using (Html.BeginForm("Edit", "Topic", FormMethod.Post, new {id = "edit-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Status)
        @Html.HiddenFor(model => model.SectionId)

        <div class="row">
            <div class="col-md-3">
                @if (Model.PictureId.HasValue)
                {
                    <img src="@Url.Action("GetFile", "BinaryData", new {id = Model.PictureId.Value})" style="max-height: 200px;"/>
                }
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control", paceholder = Html.DisplayNameFor(m => m.Text)}})
                        @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="file" name="Picture" id="Picture"/>
                    </div>
                </div>
            </div>
        </div>
        
        <hr/>

        <div class="form-group">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">@Html.LabelFor(model => model.Text)</div>
                    <div class="ibox-content no-padding">
                        <div id="text-content" class="summernote">
                            @Html.Raw(Model.Text)
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.Text)
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="javascript:save();" class="btn btn-primary">Save</a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
}

@section scripts
{
<script type="text/javascript">
    $(document).ready(function(){
        $('#text-content').summernote();
    });
    var save = function () {
        var html = $('#text-content').code();//save HTML If you need(aHTML: array).
        $('#Text').val(html);
        $('#edit-form').submit();
    };
</script>
}
