@model Example.Services.Models.ExampleSection
@using Example.Web.Infrastructure.Extensions
<tr id="section_row_@Model.Id">
    <td class="project-title">
        @Html.ActionLink(Model.Title, "Index", new { id = Model.Id })
        <br>
        <small>@Model.CreatedDate.ToString("dd-MM-yyyy hh:mm:ss")</small>
    </td>
    <td class="project-actions">
        @if (User.CanManageSection())
        {
            <a href="@Url.Action("Edit", "Section", new {id = Model.Id})" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
            <a href="javascript:confirmRemoving('@Model.Title', @Model.Id, 'section')" class="btn btn-white btn-sm"><i class="fa fa-remove"></i> Delete </a>
        }
    </td>
</tr>

